
<h2>Webex SDKs</h2>


<h2>Room</h2>
<input type="text" [(ngModel)]="roomName" id="roomName" />
<button (click)="createRoom()">Create Room</button>
<input type="text" [(ngModel)]="addUser" id="addUser" />
<button (click)="addUserToRoom()">Add User</button>

<button (click)="removeRoom()">Remove Room</button>
<br>
<input type="text" [(ngModel)]="message" id="message" />
<button (click)="sendMessageToRoom()">Send Message</button>
<!-- <button (click)="onCreateMeeting(destination)">Create Meeting</button> -->

<!-- <pre>{{printMeeting()}}</pre> -->
